{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block body %}
    <div class="container" style="padding:0px;">
        <div class="row" id="nav">
            <div class="col">
                <nav class="navbar navbar-light navbar-expand-md navbar-fixed-top navigation-clean-button" style="background-color:#424242;">
                    <div class="container"><a class="navbar-brand" href="#"><span><img src="{{ asset('img/logo.png') }}"></span> </a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                        <div
                                class="collapse navbar-collapse" id="navcol-1">
                            <ul class="nav navbar-nav nav-right">
                                <li class="nav-item" role="presentation"><a class="nav-link active" href="{{ path('homepage') }}">home </a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="{{ path('contactpage') }}">contact </a></li>
                            </ul>
                            <p class="ml-auto navbar-text actions">
                                <a href="#" onclick="on()" class="login">Log In</a>
                                <a class="btn btn-light action-button" role="button" href="signup.html">Sign Up</a>
                            </p>
                            <div id="overlay">
                                <div id="text">
                                    <div class="text-center">
                                        <i class="material-icons md-128">
                                            account_circle
                                        </i>
                                    </div>
                                    <div class="inputfields">
                                        {{ form_start(LoginForm) }}
                                        {{ form_row(LoginForm.username, {'full_name':'_username' }) }}
                                        {{ form_row(LoginForm.password, {'full_name':'_password'}) }}
                                        {{ form_widget(LoginForm, {'attr': { 'class': 'text-center inputfields', 'novalidate': 'novalidate'}}) }}
                                        {% if error %}
                                        <div><p class="ErrorMessage"> {{ error.messageKey|trans(error.messageData, 'security') }}</p></div>
                                        {% else %}
                                            <br>
                                        {% endif %}
                                            <div class="formbuttons text-center">
                                                <button name="submit" type="submit" class="btn btn-success col-sm-5">
                                                    <span class="material-icons md-36">done</span>
                                                </button>
                                                <button  type="button" onclick="off()" class="btn btn-danger col-sm-5">
                                                    <span class="material-icons md-36">clear</span>
                                                </button>
                                            </div>
                                        {{ form_end(LoginForm) }}
                                    </div>
                                </div>
                            </div>
                            <script>
                                function on() {
                                    document.getElementById("overlay").style.display = "block";
                                }

                                function off() {
                                    document.getElementById("overlay").style.display = "none";
                                }
                            </script>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="simple-slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" style="background-image:url({{ asset('img/apotheker.jpg') }});"></div>
                            <div class="swiper-slide" style="background-image:url({{ asset('img/lab.jpg') }});"></div>
                            <div class="swiper-slide" style="background-image:url({{ asset('img/eyevine3.14492330_boughtWEB.jpg') }});"></div>
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="features-boxed">
                    <div class="intro">
                        <h2 class="text-center">Features </h2>
                        <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
                    </div>
                    <div class="row justify-content-center features" style="padding:30px 10px;">
                        <div class="col-sm-6 col-md-5 col-lg-4 item">
                            <div class="box"><i class="fa fa-map-marker icon"></i>
                                <h3 class="name">Works everywhere</h3>
                                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
                        </div>
                        <div class="col-sm-6 col-md-5 col-lg-4 item">
                            <div class="box"><i class="fa fa-clock-o icon"></i>
                                <h3 class="name">Always available</h3>
                                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
                        </div>
                        <div class="col-sm-6 col-md-5 col-lg-4 item">
                            <div class="box"><i class="fa fa-list-alt icon"></i>
                                <h3 class="name">Customizable </h3>
                                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
                        </div>
                        <div class="col-sm-6 col-md-5 col-lg-4 item">
                            <div class="box"><i class="fa fa-plane icon"></i>
                                <h3 class="name">Fast </h3>
                                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
                        </div>
                        <div class="col-sm-6 col-md-5 col-lg-4 item">
                            <div class="box"><i class="fa fa-phone icon"></i>
                                <h3 class="name">Mobile-first</h3>
                                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block javascripts %}
        <script src="{{ asset('js/login.js') }}"></script>
        <script>{{ script }}</script>
    {% endblock %}
{% endblock %}
